



@media screen and (max-width: 1200px){
    
    /*.container.projects-page {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;

        h1.page-title{
            margin-left: 20px;
            margin-top: 20px;
        }

        .image-box{
            height: 200px;
            max-width: calc(50% - 10px);
        }
    }*/
    
    
}